html{
    scroll-snap-type: y mandatory;
}

.app{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}

.app__videos::-webkit-scrollbar{
    display: none;
}

.app__videos{
    border-radius: 20px;
    position: relative;
    height: 650px;
    overflow: scroll;
    width: 40%;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}